<section
  aria-label="Welcome banner"
  class="hero-container shadow-1 display-flex flex-align-center padding-x-2 tablet:padding-x-4 gap-4 border-top border-bottom border-base-lighter">
   <lib-adapt-inline-svg
   [attr.aria-hidden]="true"
    [src]="logoURL"
    svgClass="display-none desktop:display-flex width-card-lg" *ngIf="logoIsSvg"></lib-adapt-inline-svg>
  <img *ngIf="!logoIsSvg" [src]="logoURL" class="logo display-none desktop:display-flex {{logoStyleClass}}" aria-hidden="true" />
  <div class="welcome-user-info width-full display-flex flex-column tablet:flex-row gap-2 padding-y-8">
    <div class="user-info-heading-name-role display-flex gap-1 flex-column">
      <span>{{ organization }}</span>
      <h1 class="font-3xl font-weight-normal margin-0">
        {{ name }}
      </h1>
      <p class="font-lg">{{ role }}</p>
    </div>
  </div>
</section>
